{% extends "base.html" %}

{% block title %}Update status{% endblock %}

{% block content %}
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<li><a href="/adv/orders/ ">Orders</a></li>
	<li><a href="/adv/change_user_info/ ">Сhange info</a></li>
	<li><a href="/adv/update_account/ ">Update account</a></li>
	{% if role == "Advertiser" %}
		<li><a href="/adv/new_order/ ">Create new order</a></li>
	{% else %}
		<li><a href="/adv/videos/ ">Videos</a></li>
		<li><a href="/adv/new_video/ ">Create new video</a></li>
	{% endif %}
	<br />
	{% if diamond %}
		<label>Your status is the highest.</label>
	{% else %}
		<form action="/adv/update_status/" method="post">
			{% csrf_token %}
			<label>Your current account: {{ account }}</label><br />
			<label>Prices:</label><br />
			{% for status in statuses %}
				<label>{{ status }}</label><br />
			{% endfor %}
			{{ form }}
			<br />
			<br />
			<input type="submit" value="Update account" />
		</form>
	{% endif %}
{% endblock %}