{% extends "base.html" %}

{% block title %}New order{% endblock %}

{% block content %}
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<li><a href="/adv/orders/ ">Orders</a></li>
	<li><a href="/adv/change_user_info/ ">Сhange info</a></li>
	<li><a href="/adv/update_account/ ">Update account</a></li>
	{% if role != "Advertiser" %}
		<li><a href="/adv/videos/ ">Videos</a></li>
		<li><a href="/adv/new_video/ ">Create new video</a></li>
		<li><a href="/adv/update_status/ ">Update status</a></li>
	{% endif %}
	<br />
	<form action="/adv/new_order/" method="post">
		{% csrf_token %}
		{{ form }}
		<br />
		<br />
		<input type="submit" value="Create new order" />
	</form>
{% endblock %}